<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nakedferret.simplepass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.nakedferret.simplepass.SimplePass_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="VaultRoom.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.nakedferret.simplepass.ui.ActMain_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.nakedferret.simplepass"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.nakedferret.simplepass.ui.ActSelectAccount_"
            android:label="@string/title_activity_act_select_account"
            android:theme="@style/PopupTheme" >
        </activity>
        <activity
            android:name="com.nakedferret.simplepass.ui.ActPasswordSelect_"
            android:label="@string/title_activity_act_generic_frag_test"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nakedferret.simplepass.ServiceSimplePass_"
            android:enabled="true"
            android:exported="false"
            android:label="SimplePass Service" >
        </service>
        <service
            android:name="com.nakedferret.simplepass.ServiceKeyboard_"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.nakedferret.simplepass.ui.ActImport_"
            android:label="@string/title_act_import" >
        </activity>
    </application>

</manifest>